<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


	<!-- 过滤资源 -->
	<http security="none" pattern="/css/**"></http>
	<http security="none" pattern="/*.html"></http>
	<http security="none" pattern="/img/**"></http>
	<http security="none" pattern="/js/**"></http>
	<http security="none" pattern="/plugins/**"></http>

	<http use-expressions="false">
		<intercept-url pattern="/**" access="ROLE_ADMIN" />

		<form-login login-page="/login.html"
			default-target-url="/admin/index.html"
			authentication-failure-url="/login.html"
			always-use-default-target="true" />
		<headers>
			<frame-options policy="SAMEORIGIN" />
		</headers>
		<csrf disabled="true" />

		<logout />


	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="zhangsan" authorities="ROLE_ADMIN"
					password="zhangsan" />
			</user-service>

		</authentication-provider>


	</authentication-manager>




</beans:beans>